.content {
    width: 550px;    
}

.content form .custom_btn {
    width: 150px;
}

.content .gridtable a {
    text-decoration: underline;
}

.content .table_div {
    overflow-y: scroll;
    max-width: 1000px;
}