<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tester Change Testing Site</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/change_testing_site.css">
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>Tester Change Testing Site</h1>
            <table class="gridtable" >
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Assigned Sites</th>
                </tr>
            </table>
            <a href="{{url_for('home')}}" class="custom_btn">Back(Home)</a>
        </div>
    </div>
</body>
</html>