<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tester Change Testing Site</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/change_testing_site.css">
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>Tester Change Testing Site</h1>
             <form action="{{ url_for('change_testing_site', user_name = user_name, user_type=user_type)}}" method="POST">
                <table class="gridtable" >
                    <tr>
                        <th>Username</th>
                        <th> {{user_name}}</th>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td> {{name}}</td>
                    </tr>
                    <tr>
                        <td>Assigned Sites</td>
                        {% if sites %}
                            <td>
                                {%- for item in sites -%}
                                <p>{{item}}</p>
                                {%- endfor -%}
                            </td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Add Sites</td>
                        {% if add_sites %}
                            <td>
                                <select name="add" id="">
                                    {% for item in add_sites %}
                                    <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                    <option value="None">None</option>
                                </select>
                            </td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                    </tr>

                    <tr>
                        <td>Delete Sites</td>
                        {% if sites %}
                        <td><select name="delete" id="">
                                    {% for item in sites %}
                                    <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                            <option value="None">None</option>
                                </select>
                        </td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                    </tr>
                </table>
                <a href="{{url_for('home', user_name=user_name, user_type=user_type)}}" class="custom_btn">Back(Home)</a>
                <input type="submit" value="Update" class="custom_btn">
             </form>

        </div>
    </div>
</body>
</html>