<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Pool</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/create_pool.css">
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>Create a Pool</h1>
            <form action="{{ url_for('create_pool', user_type=user_type, user_name=user_name) }}" method="POST">
                <label for="pool_id">Pool ID:</label>
                <input type="text" name="pool_id" id="pool_id">

                <table class="gridtable" >
                    <tr>
                        <th>Test ID#</th>
                        <th>Date Tested</th>
                        <th>Include in Pool</th>
                    </tr>
                    {% for v in data%}
                        <tr>
                            <td> {{v[0]}} </td>
                            <td> {{v[1]}} </td>
                            <td>  <input type="checkbox" name="{{v[0]}}"> </td>
                        </tr>
                    {% endfor %}
                </table>

                <a href="{{url_for('home', user_type=user_type, user_name=user_name)}}" class="custom_btn">Back(Home)</a>
                <input type="submit" value="Create Pool" class="custom_btn">
            </form>
        </div>
    </div>
</body>
</html>
