<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Appointment</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/create_appointment.css">
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>Create an Appointment</h1>
            <form action="">                
                <label for="site">Site</label>
                <select name="site" id="site" required>
                    {% for s in sites%}
                    <option value="{{s[0]}}">{{s[0]}}</option>                    
                    {% endfor %}
                </select><br>

                <label for="date">Date</label>
                <input type="date" required><br>

                <label for="time">Time</label>
                <input type="time" required>

                <input type="submit" id="submit" style="display: none;">
            </form>
            <a href="{{url_for('home')}}" class="custom_btn">Back(Home)</a>
            <label for="submit" class="custom_btn">Create Appointment</label>
        </div>
    </div>
</body>
</html>