<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user_type}} Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>{{user_type}} Home</h1>
            {% if user_type == "Student"%}
                <a href="{{url_for('student_test_results', user_name=user_name)}}">View My Results</a>
                <a href="{{url_for('sign_up', user_name=user_name)}}">Sign Up for a Test</a>

            {% elif user_type == "Tester"%}
                <a href="{{url_for('change_testing_site')}}">Change Testing Site</a>
                <a href="{{url_for('view_appointments', user_type=user_type, user_name=user_name)}}">View Appointments</a>
                <a href="{{url_for('create_appointment')}}">Create Appointment</a>

            {% elif user_type == "Lab Technician"%}
                <a href="{{url_for('process_pool')}}">Process Pool</a>
                <a href="{{url_for('labtech_tests_processed')}}">View My Processed Tests</a>

                <a href="{{url_for('create_pool', user_type=user_type, user_name=user_name)}}">Create Pool</a>
                <a href="{{url_for('view_pools', user_type=user_type, user_name=user_name)}}">View Pools</a>
            
            {% elif user_type == "Lab Technician/Tester"%}    
                <a href="{{url_for('change_testing_site')}}">Change Testing Site</a>
                <a href="{{url_for('view_appointments', user_type=user_type, user_name=user_name)}}">View Appointments</a>
                <a href="{{url_for('create_appointment', user_type=user_type, user_name=user_name)}}">Create Appointment</a>
                
                <a href="{{url_for('process_pool')}}">Process Pool</a>
                <a href="{{url_for('labtech_tests_processed')}}">View My Processed Tests</a>

                <a href="{{url_for('create_pool', user_type=user_type, user_name=user_name)}}">Create Pool</a>
                <a href="{{url_for('view_pools', user_type=user_type, user_name=user_name)}}">View Pools</a>

            
            {% elif user_type == "Admin"%}
                <a href="{{url_for('reassign_tester')}}">Reassign Testers</a>
                <a href="{{url_for('create_testing_site')}}">Create Testing Site</a>
                <a href="{{url_for('create_appointment', user_type=user_type, user_name=user_name)}}">Create Appointment</a>
                <a href="{{url_for('view_appointments', user_type=user_type, user_name=user_name)}}">View Appointments</a>    
            {% endif %}
            
            <a href="{{url_for('aggregate_results', user_type=user_type, user_name=user_name)}}">View Aggregate Results</a>    
            <a href="{{url_for('daily_results', user_type=user_type, user_name=user_name)}}">View Daily Results</a>
        </div>
    </div>
    
</body>
</html>