<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>GT COVID-19 Testing</h1>
            <form action="{{ url_for('login') }}" method="POST">
                <label for="username"><i class="fas fa-user"></i></label>
                <input type="text" name="username" id="username" placeholder="Username" required>
    
                <label for="password"><i class="fas fa-lock"></i></label>
                <input type="password" name="password" id="password" placeholder="Password" required>
                
                <label for="login" class="login_btn">Login</label>
				<input type="submit" id="login" style="display: none;">
				<a href="{{ url_for('register')}}" class="login_btn">Register</a>
            </form>
        </div>
    </div>
    
</body>
</html>