<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>labtech_tester Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <h1>Lab Techinician / Tester  Home</h1>
    <button>Process Pool</button>
    <button>View My Processed Tests</button><br>

    <button>Create Pool</button>
    <button>View Aggregate Results</button><br>
    
    <button>Create Appointment</button>
    <button>View Appointments</button><br>
    <button>Change Testing Site</button><br>
    

    <button>View Pools</button>
    <button>View Daily Results</button>
</body>
</html>