<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labtech_Tests_Processed</title>    
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/labtech_tests_processed.css">
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>Lab Tech Processed</h1>
            <form action="{{url_for('labtech_tests_processed',data_dict=data)}}" method = "POST">

                <label for="">Date Tested:</label>
                <input name = "start_date" id="start_date" type="date"> -
                <input name = "end_date" id="end_date" type="date"><br>

                <label for="testing_result">Testing Result:</label>
                <select name="testing_result">            
                    <option value="all">All</option>
                    <option value="negative">NEGATIVE</option>
                    <option value="positive">POSITIVE</option>
                </select><br>

                <table class="gridtable" >
                    <tr>
                        <th>Test ID#</th>
                        <th>Pool ID</th>
                        <th>Date Tested</th>
                        <th>Date Processed</th>
                        <th>Result</th>
                    </tr>
                    {% for v in data_dict %}
                    <tr>
                        <td> {{v[0]}} </td>
                        <td><a href="{{url_for('explore_pool_result')}}"> {{v[1]}}</a></td>
                        <td> {{v[2]}} </td>
                        <td> {{v[3]}} </td>
                        <td> {{v[4]}} </td>
                    </tr>
                    {% endfor %}
                </table>

                
                <a href="{{url_for('home')}}" class="custom_btn">Back(Home)</a>
                <input type="reset" value="Reset" class="custom_btn">
                <input type="submit" value="Filter" class="custom_btn">
                
            </form>
        </div>
    </div>
    
</body>
</html>