<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reassign Tester</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reassign_tester.css">
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>Reassign Tester</h1>
            <form action="{{ url_for('reassign_tester', user_type=user_type, user_name=user_name) }}" method="POST">
                <table class="gridtable" >
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Assigned Sites</th>
                    </tr>

                    {% for v in data %}
                    <tr>

                        <td> {{v[0]}} </td>
                        <td> {{v[1]}} </td>
                        <td> {{v[2]}} </td>
                        {% if v[3] %}
                            <td>
                                <select name="" id="">
                                    {% for item in v[3] %}
                                    <option value="{{item}}">{{item}}</option>
                                    {% endfor %}
                                </select>
                            </td>  
                        {% else %}
                            <td>None</td>
                        {% endif %} 
                    </tr>
                    {% endfor %}


                </table>
                <a href="{{url_for('home', user_type=user_type, user_name=user_name)}}" class="custom_btn">Back(Home)</a>
                <input type="submit" value="Update" class="custom_btn">
            </form>


        </div>
    </div>
</body>
</html>