<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/register.css">
    <script src="../static/js/function.js"></script>
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>Register</h1>
            <form action="/home" method="POST">
                <div class="left_box">
                    <label for="username">Username</label>
                    <input type="text" name="" id="username" required>

                    <label for="fname">First Name</label>
                    <input type="text" name="" id="fname" required>

                    <label for="password">Password</label>
                    <input type="password" name="" id="password" required>
                </div>
                
                <div class="right_box">
                    <label for="email">Email</label>
                    <input type="email" name="" id="email" required>                    

                    <label for="lname">Last Name</label>
                    <input type="text" name="" id="lname" required>                    

                    <label for="conf_pwd">Confirm Password</label>
                    <input type="password" name="" id="conf_pwd" onkeyup=validate() required>
                    <span id="tips"></span></input></li>

                </div>

                <div class="tab_container">
                    <button id="stuBtn" type="button" class="switch active">Student</button>
                    <button id="empBtn" type="button" class="switch">Employee</button>
                    <div class="student" id="student">
                        <label for="housing_type">Housing Type</label>
                        <select name="housing_type">
                            <option value="off_campus">Off-Campus House</option>
                            <option value="off_campus">Off-Campus Appartment</option>
                            <option value="greek">Greek Housing</option>
                            <option value="greek">Student Housing</option>
                        </select>
            
                        <label for="location">Location</label>
                        <select name="location">
                            <option value="east">East</option>
                            <option value="west">West</option>
                        </select>            
                    </div>
                    
                    <div class="employee" id="employee" style="display:none"> 
                        Site Tester
                        <input type="checkbox" name="Sex" value="site_tester" />
                        Lab Tech
                        <input type="checkbox" name="Sex" value=lab_tech" />
                        <label for="phone">Phone No.</label>
                        <input type="text" name="" id="phone">
                        
                    </div>
                </div>
                <a href="{{url_for('index')}}" class="custom_btn">Back to Login</a>
                <input type="submit" value="Register" id="mySubmit"  class="custom_btn">
            </form>        
        </div>
    </div>

    <script src="../static/js/register.js"></script>
    <script>

    </script>

</body>
</html>