<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tester Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <h1>Tester Home</h1>
    <button>Change Testing Site</button><br>
    <button>View Appointments</button>
    <button>View Aggregate Results</button><br>
    <button>Create Appointment</button>
    <button>View Daily Results</button>
</body>
</html>