<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Pools</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/view_pools.css">
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>View Pools</h1>
            <form action="{{ url_for('view_pools') }}" method="POST">

                <label for="">Date Tested:</label>
                <input id="start_date" name="start_date" type="date"> -
                <input id="end_date" name="end_date" type="date"><br>

                <label for="pool_status">Pool Status:</label>
                <select name="pool_status">
                    <option value="all">All</option>
                    <option value="positive">Positive</option>
                    <option value="negative">Negative</option>
                </select><br>

                <label for="">Processed By:</label>
                <input type="text" name="processedBy" id="processedBy" placeholder="" >

                <table class="gridtable" >
                    <tr>
                        <th>Pool ID#</th>
                        <th>Test Ids</th>
                        <th>Date Tested</th>
                        <th>Processed By</th>
                        <th>Pool Status</th>
                    </tr>
                    {% for v in data %}
                    <tr>
                        <td> {{v[0]}} </td>
                        <td> {{v[1]}} </td>
                        <td> {{v[2]}} </td>
                        <td> {{v[3]}} </td>
                        <td> {{v[4]}} </td>
                    </tr>
                    {% endfor %}
                </table>


                <a href="{{url_for('home', user_type=user_type, user_name=user_name)}}" class="custom_btn">Back(Home)</a>
                <input type="reset" value="Reset" class="custom_btn">
                <input type="submit" value="Filter" class="custom_btn">

            </form>
        </div>
    </div>

</body>
</html>
